@font-face{
	font-family:"yofont";
	src:url("/football-app/images/iconfont/iconfont.ttf") format("ttf"),
		url("/football-app/images/iconfont/iconfont.woff") format("woff");
}
@font-face{
	font-family:"yofont";
	src:url("/football-app/images/iconfont/iconfont-menu.ttf") format("ttf"),
		url("/football-app/images/iconfont/iconfont-menu.woff") format("woff");
}